<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gojava.dao.sy.MenuDao">
	<resultMap id="ResultMenu" type="com.gojava.entity.sy.Menu">
		<result  column="id" 			property="id" 				jdbcType="NUMERIC" />
		<result  column="parentId" 		property="parentId" 		jdbcType="NUMERIC" />
		<result  column="name" 			property="name" 			jdbcType="VARCHAR" />
		<result  column="url" 			property="url" 				jdbcType="VARCHAR" />
		<result  column="icon" 			property="icon" 			jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 菜单信息模糊分页搜索查询 -->
	<select id="findList" parameterType="Map" resultType="Menu">
		select * from menu where 1 = 1 
		<if test="parentId != null">
			and parentId = #{parentId}  
		</if>
		<if test="name != null">
			and name like '%${name}%' 
		</if>
		<if test="offset != null and pageSize != null">
			limit #{offset},#{pageSize}
		</if>
	</select>
	<!-- 菜单信息模糊分页搜索查询总记录数 -->
	<select id="getTotal" parameterType="Map" resultType="Integer">
		select count(*) from menu where 1 = 1  
		<if test="parentId != null">
			and parentId = #{parentId}  
		</if>
		<if test="name != null">
			and name like '%${name}%' 
		</if>
	</select>
	
		<select id="selectTopMenu"  resultMap="ResultMenu">
		select * from menu where 1 = 1  and parentId=0
	</select>
	
	<select id="add"  parameterType="Map">
		insert into menu(id,parentId,name,url,icon) values(null,#{map.parentId},#{map.name},#{map.url},#{map.icon})
	</select>
</mapper>